* {
	text-align: center;
}

#resetButton {
	decoration: none;
	margin-top: 20px;
}

#inner {
	border: 1px solid black;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
}

#pixel {
	width: 5px;
	height: 5px;
	border: 1px solid black;
	background-color: white;
	display: inline-block;
}