div {
	display: block;
}

#top-container {
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#resetButton {
	decoration: none;
}

#inner {
	width: 800px;
	overflow: auto;
}

#pixel {
	width: 10px;
	height: 10px;
	background-color: yellow;
	float: left;
	margin: 0;
}

.entering {
	background-color: black;
}