* {
	text-align: center;
}

#resetButton {
	decoration: none;
	margin-top: 20px;
}

#inner {
	border: 1px solid black;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
}

#pixel {
	width: 10px;
	height: 10px;
	
	background-color: yellow;
	display: inline-block;
	margin: 0;
}